.week_calendar ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

/* Month header */
.week {
    /*padding: 0 25%;*/
	padding-top: 30px;
    width: 100%;
    height: 100px;
    /*background: #1abc9c;*/
}

.week div {
    color: black;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    /*height:100%;
    padding: 60px 0;*/
}

/* Previous button inside month header */
.week .prev {
    float: left;
    width: 32px;
	height: 32px;
    cursor: pointer;
	border: 1px solid black;
	border-radius: 20px;
	margin-left: 10%
}

/* Next button */
.week .next {
    float: right;
    width: 32px;
	height: 32px;
    cursor: pointer;
	border: 1px solid black;
	border-radius: 20px;
	margin-right: 10%
}

/* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    padding: 10px 0 0px 0;
    /*background-color:#ddd;*/
}
/*
.weekdays div {
    display: inline-block;
    width: 14.2%;
    color: #666;
    text-align: center;
}
*/
/* Days (1-31) */
.days {
    padding: 0px 0;
    /*background: #eee;*/
    margin: 0;
}

.dayLabelContainer {
    padding: 0;
    
}

.dayLabel {
    list-style-type: none;
    display: inline-block;
    float: left;
    width: 12.4%;
    text-align: center;
    font-size:15px;
    color:#fff;
	margin: 0 0.05%;
	/*background: #222;*/
	padding-top: 1%;
	border-radius: 15px 15px 0 0;
	
	background: #4c4c4c; /* Old browsers */
	background: -moz-linear-gradient(top, #4c4c4c 0%, #2c2c2c 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #4c4c4c 0%,#2c2c2c 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #4c4c4c 0%,#2c2c2c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#2c2c2c',GradientType=0 ); /* IE6-9 */
}

.timelabel {
	background: #fff;
}

.timeLabel {
    list-style-type: none;
    display: inline-block;
    float: left;
    width: 12.4%;
    text-align: center;
    margin-bottom: 5px;
    color:#777;
	margin: 0 0.05%;
}

.dayElement{
    float: left;
    width: 12.4%;
    text-align: center;
	margin: 0 0.05%;
}


.dayOfMonth{
    background-color: #222;
	margin-bottom: 1%;
	padding: 2% 0 5% 0;
	color: #fff;
	font-size: 80%;
	font-weight: bold;
	
	background: #4c4c4c; /* Old browsers */
	background: -moz-linear-gradient(top, #2c2c2c 0%, #131313 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #2c2c2c 0%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #2c2c2c 0%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c2c2c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
}

.hour{
    padding-top: 15px;
    padding-bottom: 5px;
    /*background-color: #1abc9c;
    border-top: 1px solid #1abc9c;
    border-bottom: 1px solid #44ff44;*/
    height: 50px;
	font-weight: bold;
	text-shadow: 1px 1px #888;
}

.hour:last-of-type{
    /*border-bottom: 1px solid #1abc9c*/;
}

.time{
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #e6fff2;
    border: 1px solid #b3ffd9;
    height: 50px;
}

.time:hover {
    background-color: #5dc75d;
}

.cornerElement{
    background-color: #fff;
	margin-bottom: 1%;
	padding: 2% 0 5% 0;
	border-radius: 0 0 15px 15px;
}



/*clearfix??*/
.days:after,
.weekdays:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
/* Highlight the "current" day */
.weekDay div .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important
}

div{
    /*border: 1px solid black;*/
    box-sizing: border-box;
}